@(message: String)

@main("Welcome to Play") {


@helper.form(action = routes.Application.submit()) {
<input name="mandrill"  placeholder="mandrill api key"/><br>

<textarea name="input" rows="4" cols="50" placeholder="1 email par ligne"></textarea><br>
<input name="subject"  placeholder="subject"/><br>
<input name="fromEmail"  placeholder="from (email)"/><br>
<input name="fromName"  placeholder="from (name)"/><br>
<textarea name="body"  placeholder="html body"></textarea><br>
<button>send</button>
}

}
